<% provide(:title, "About") %>
<h1>About me</h1>
<h2>
  "I am a Software Engineer and I love to discover new cultures"
</h2>
<div class="row">
  <div class="col-md-4 about-section">
    <h3>Me</h3>
    <div class="content">
      Coming from France, I love to discover new cultures and I am passionate about Asia. I have spent a third of my life abroad.
      I worked as a Software Developer, Project Manager, and Architect for web, desktop, and mobile applications, always with the target of solving complex problems.
      I am currently living in South Korea.
    </div>
  </div>
  <div class="col-md-4 about-section">
    <h3>Skills</h3>
    <h4>Programming</h4>
    <%= skill_superstar("JAVA") %>
    <%= skill_superstar("C") %>
    <%= skill_superstar("SQL") %>
    <%= skill_lg("Rails", 4) %>
    <%= skill_lg("NOSQL", 3) %>
    <%= skill_lg("Erlang", 2) %>
    <h4>Computer Science</h4>
    <%= skill_superstar("Data Structures") %>
    <%= skill_superstar("Algorithmics") %>
    <%= skill_lg("Concurrency", 4) %>
    <%= skill_lg("Windows", 4) %>
    <%= skill_lg("UNIX", 4) %>
    <%= skill_lg("System Administration", 3) %>
    <%= skill_lg("Server Configuration", 3) %>
    <h4>Security</h4>
    <%= skill_superstar("Symmetric Cryptography") %>
    <%= skill_superstar("Asymmetric Cryptography") %>
    <%= skill_lg("Network / Web attacks", 4) %>
    <%= skill_lg("PenTest", 2) %>
  </div>
  <div class="col-md-4 about-section">
    <h3>Experience</h3>
    <h4>Coming (very) soon</h4>
  </div>
</div>

