<li id="connection-<%= connection.id %>">
  <span>
    <%= !connection.user.nil? ? link_to(connection.user.name, connection.user) : "Anonymous" %>
  </span>
  <span>
    <%= !connection.ip_address.nil? ? connection.ip_address.ip_address : "Unknown IP" %>
  </span>
  <span><%= time_ago_in_words(connection.updated_at) %> ago</span>
  <span>(<%= connection.count %> pages visited)</span>
</li>