<li id="comment-<%= comment.id %>">
  <% if !comment.user.nil? %>
    <%= link_to gravatar_for(comment.user, size: 50), comment.user %>
    <span class="user"><%= link_to comment.user.name, comment.user %></span>
  <% else %>
    <span class="glyphicon glyphicon-user"></span>
    <span class="user">Anonymous</span>
  <% end %>
  <% if admin? %>
    | <%= link_to "delete", comment, method: :delete,
                                data: { confirm: "You sure?" } %>
  <% end %>
  <span class="content"><%= comment.content.html_safe %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(comment.created_at) %> ago.
  </span>
</li>